DATABASE_URL="postgresql://postgres:password123@localhost:5432/unolo_db"
JWT_SECRET="supersecretjwtkey_development"
PORT=5000
CLIENT_URL="http://localhost:5173"

# SMTP Settings for Nodemailer Email Notifications (Optional: defaults to Ethereal Testing service if left blank)
# SMTP_HOST="smtp.gmail.com"
# SMTP_PORT=465
# SMTP_SECURE="true"
# SMTP_USER="your-email@gmail.com"
# SMTP_PASS="your-app-password"
